// 引用字型
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Koulen&family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$path: './';

* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

ul{
  padding: 0;
}

a:hover{
  opacity: 0.8;
}

.text-h1 {
  color: $light;
  font-family: 'Koulen', cursive;
  letter-spacing: 0.15rem;
}

.navbar{
  background-color: $dark;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url('../media/main-section-md.png');
}

@media (min-width:767px) {
  .navbar{
    background-color: $light;
  }
  .hero{
  background-image: url('../media/main-section-text.png');
  }
  .text-h1{
    color: $dark;
  }
}

.title-font{
  font-family: 'Koulen', cursive;
  letter-spacing: 0.15rem;
}

.inter-font{
  font-family: 'Inter', sans-serif;
}

.table{
  margin-bottom: 0;
}


// font-family: 'M PLUS 1', sans-serif;